@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensedRegular_0.eot');
    src: url('../fonts/RobotoCondensedRegular_0.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedRegular_0.woff2') format('woff2'),
         url('../fonts/RobotoCondensedRegular_0.woff') format('woff'),
         url('../fonts/RobotoCondensedRegular_0.ttf') format('truetype'),
         url('../fonts/RobotoCondensedRegular_0.svg#RobotoCondensedRegular_0') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedLight';
    src: url('../fonts/RobotoCondensedLight_0.eot');
    src: url('../fonts/RobotoCondensedLight_0.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedLight_0.woff2') format('woff2'),
         url('../fonts/RobotoCondensedLight_0.woff') format('woff'),
         url('../fonts/RobotoCondensedLight_0.ttf') format('truetype'),
         url('../fonts/RobotoCondensedLight_0.svg#RobotoCondensedLight_0') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensedBold_0.eot');
    src: url('../fonts/RobotoCondensedBold_0.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedBold_0.woff2') format('woff2'),
         url('../fonts/RobotoCondensedBold_0.woff') format('woff'),
         url('../fonts/RobotoCondensedBold_0.ttf') format('truetype'),
         url('../fonts/RobotoCondensedBold_0.svg#RobotoCondensedBold_0') format('svg');
}